<div class="container mt-3">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">First Name(s)</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Message</th>
          <th scope="col bg-secondary">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees" [attr.data-id]="employee.id">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.phoneNumber }}</td>
          <td>{{ employee.message }}</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="navigateToUpdateEmployee(employee.id)">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="confirmDelete(employee.id, employee.firstName, employee.lastName)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <create (newEmployeeEvent)="loadEmployees()"></create>
  </div>
</div>