:host {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.create-employee-form-container {
    display: block;

    .create-employee-form {
        width: 400px;
        margin: auto;

        mat-form-field {
            display: block;
        }
    }
}