<ng-template #addEmployee let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Employee</h4>
    <button #modalCloseBtn type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="employeeDataForm" (ngSubmit)="onSubmit()" class="form">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name(s)</label>
            <input id="firstName" type="text" formControlName="firstName" class="form-control" required>
            <div class="text-danger" *ngIf="employeeDataForm.get('firstName')?.invalid && (employeeDataForm.get('firstName')?.dirty || employeeDataForm.get('firstName')?.touched)">
              <small *ngIf="employeeDataForm.get('firstName')?.errors?.['required']">First Name is required.</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input id="lastName" type="text" formControlName="lastName" class="form-control" required>
            <div class="text-danger" *ngIf="employeeDataForm.get('lastName')?.invalid && (employeeDataForm.get('lastName')?.dirty || employeeDataForm.get('lastName')?.touched)">
              <small *ngIf="employeeDataForm.get('lastName')?.errors?.['required']">Last Name is required.</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" formControlName="email" class="form-control">
            <div class="text-danger">
              <small *ngIf="employeeDataForm.get('email')?.errors?.['required'] && (employeeDataForm.get('email')?.dirty || employeeDataForm.get('email')?.touched)">
                Email is required.
              </small>
              <small *ngIf="employeeDataForm.get('email')?.errors?.['email'] && (employeeDataForm.get('email')?.dirty || employeeDataForm.get('email')?.touched)">
                Email is invalid.
              </small>
            </div>
          </div>

          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input id="phoneNumber" type="text" formControlName="phoneNumber" maxlength="10" class="form-control" required>
            <div class="text-danger" *ngIf="employeeDataForm.get('phoneNumber')?.invalid && (employeeDataForm.get('phoneNumber')?.dirty || employeeDataForm.get('phoneNumber')?.touched)">
              <small *ngIf="employeeDataForm.get('phoneNumber')?.errors?.['required']">Phone Number is required.</small>
              <small *ngIf="employeeDataForm.get('phoneNumber')?.errors?.['phoneNumberInvalid']">Phone Number must start with 0 and be exactly 10 digits.</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" formControlName="message" class="form-control" rows="3" required></textarea>
            <div class="text-danger" *ngIf="employeeDataForm.get('message')?.invalid && (employeeDataForm.get('message')?.dirty || employeeDataForm.get('message')?.touched)">
              <small *ngIf="employeeDataForm.get('message')?.errors?.['required']">Message is required.</small>
            </div>
          </div>
  
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" [disabled]="employeeDataForm.invalid">
              Add New Employee
            </button>
          </div>
        </div>

        </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-sm btn-outline-primary" (click)="open(addEmployee)">Add New Employee</button>
